extends layout 


block medidor
      h1(style="color:blue;")!=titulo
      span=min+" "
      meter(value=nivel min=min max=max style="width:25%;height:20px")
      span=" "+max
Loaded: 2.18%
￼
￼
Total 2 Recordings
00:00:16/02:11:04
￼